.portfolio {
    .portfolio_content {
        padding: 20px;
        width: 95%;

        .portfolio_content_filter {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            padding: 10px;

            li {
                font-size: 16px;
                display: inline-block;
                cursor: pointer;
                position: relative;
                color: var(--yellow-theme-main-color);
                text-transform: uppercase;
                padding: 15px 20px;
                overflow: hidden;
                transition: all 0.5s ease;

                &.active {
                    background: var(--yellow-theme-main-color);
                    color: var(--yellow-theme-sub-text-color);
                    font-weight: 600;
                    border-radius: 25px;
                }
            }
        }

        .portfolio_content_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 10px;

  .portfolio_content_cards_item {
    height: 366px;
    cursor: pointer;
    position: relative;

    .portfolio_content_cards_item_imag {
      height: 100%;

      a {
        display: block;
        height: 100%;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
    

@media screen and (max-width: 1024px) {
  .portfolio_content_cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .portfolio_content_cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio_content_cards_item {
    height: auto; 
  }
}

@media screen and (max-width: 480px) {
  .portfolio_content_cards {
    grid-template-columns: 1fr;
  }

  .portfolio_content_cards_item {
    height: auto; 
    margin-bottom: 10px;
  }

  .portfolio_content_cards_item_imag a img {
    height: auto; 
  }

  .portfolio_content_filter {
    flex-direction: column;
    padding: 5px;

    li {
      margin-bottom: 5px;
      padding: 10px;
    }
  }
}
    }
}
