.navbar {
    background-color: var(--yellow-theme-nav-background-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

    .navbar_container {
        display: flex;
        align-items: center;
        width: 100%;
        height: inherit;
        padding: 0 20px;
        justify-content: space-between;

        .navbar_container_logo {
            color: var(--yellow-theme-main-color);
            cursor: pointer;
        }
        .navbar_container_logo img {
            height: 70px; /* Adjust this value as needed */
            /* Add any additional styles, such as margins or padding */
            color: var(--yellow-theme-main-color);
            cursor: pointer;
        }
        

        .navbar_container_menu {
            display: flex;
            list-style: none;
            gap: 15px;
            padding: 0;
            margin: 0;

            .navbar_container_menu_item {
                padding: 0 10px;

                .navbar_container_menu_item_links {
                    color: var(--yellow-theme-main-color);
                    text-decoration: none;
                    font-weight: 500;
                    position: relative;

                    &:hover::after {
                        width: 100%; /* Expands underline fully */
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -5px; /* Space between text and underline */
                        height: 3px;
                        width: 0;
                        background-color: var(--yellow-theme-main-color);
                        transition: width 0.5s ease;
                    }
                }
            }

            /* Responsive - Mobile View */
            @media (max-width: 768px) {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 80px;
                left: 0;
                width: 100%;
                background-color: var(--yellow-theme-nav-background-color);
                padding: 10px 0;

                &.active {
                    display: flex;
                }
            }
        }
    }

    .nav-icon {
        display: none;
        color: var(--yellow-theme-main-color);
        cursor: pointer;

        @media (max-width: 768px) {
            display: block;
        }
    }
}
.navbar {
    position: relative;
    z-index: 10; /* Higher value ensures it appears above Particles */
  }
